[submodule "Maya-ACE"]
	path = Maya-ACE
	url = https://github.com/NVIDIA/Maya-ACE.git
	branch = release/2.0
[submodule "Audio2Face-3D-SDK"]
	path = Audio2Face-3D-SDK
	url = https://github.com/NVIDIA/Audio2Face-3D-SDK.git
	branch = main
[submodule "Audio2Face-3D-Samples"]
	path = Audio2Face-3D-Samples
	url = https://github.com/NVIDIA/Audio2Face-3D-Samples.git
	branch = main
